<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.number %></td>
	<td><%= link_to 'products', category_products_path(category) %></td>
    <td><%#= link_to 'Edit', edit_category_path(category) %></td>
    <td><%#= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Category', new_category_path %>
