body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
a {color: #00B7FF;}
.footer-docs p {float: left;margin-left: 15px;font-weight: normal;font-size: .9em;}
.courses_sec div {font-weight: normal !important;}
.ui-icon-mynew-window {background-image: url('../images/new_window.png');}
