<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Item price</th>
    <th>Saving</th>
    <th>Price valid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.item_price %></td>
    <td><%= product.saving %></td>
    <td><%= product.price_valid %></td>
    <td><%#= link_to 'Show', product %></td>
    <td><%#= link_to 'Edit', edit_product_path(product) %></td>
    <td><%#= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Product', new_product_path %>
