<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Item price:</b>
  <%= @product.item_price %>
</p>

<p>
  <b>Saving:</b>
  <%= @product.saving %>
</p>

<p>
  <b>Price valid:</b>
  <%= @product.price_valid %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
