<h1>Listing recommendations</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Rate</th>
    <th>Message</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recommendations.each do |recommendation| %>
  <tr>
    <td><%= recommendation.product_id %></td>
    <td><%= recommendation.rate %></td>
    <td><%= recommendation.message %></td>
    <td><%= recommendation.url %></td>
    <td><%#= link_to 'Show', recommendation %></td>
    <td><%#= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
    <td><%#= link_to 'Destroy', recommendation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Recommendation', new_recommendation_path %>
