<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @recommendation.product_id %>
</p>

<p>
  <b>Rate:</b>
  <%= @recommendation.rate %>
</p>

<p>
  <b>Message:</b>
  <%= @recommendation.message %>
</p>

<p>
  <b>Url:</b>
  <%= @recommendation.url %>
</p>


<%#= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%#= link_to 'Back', recommendations_path %>
