!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='keywords', content='UCLA, class, classes')
    meta(name='description', content='UCLA classes website, helps ucla students to find a class easily with their mobile phone.')
    title= 'UCLA Courses'
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://code.jquery.com/jquery-1.6.4.min.js')
    script(src='http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js')
  body!= body
    script(type='text/javascript', src='/js/app.js')
